<ul *ngIf="courses$ | async as courses; else noData">
  <app-course-item
    *ngFor="let course of courses; trackBy: trackByCourseId"
    [course]="course"
    (deletedCourse)="onDeletedCourse($event, course.name)"
  >
  </app-course-item>

  <p-card *ngIf="!isMaxCountCourses" styleClass="load-more-block">
    <button class="load-more-button" type="button" (click)="loadMoreCourses()">
      Load more
    </button>
  </p-card>
</ul>

<ng-template #noData>
  <p-card styleClass="no-data-block">
    No data. Feel free to add new course.
  </p-card>
</ng-template>

<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
