<p-card styleClass="login-page">
  <p-header>
    <h2>Login</h2>
  </p-header>

  <form class="login-form">
    <label>
      <h4>E-mail:</h4>
      <input
        type="email"
        placeholder="Enter e-mail"
        pInputText
        [(ngModel)]="emailInput"
        [ngModelOptions]="{ standalone: true }"
      />
    </label>
    <label>
      <h4>Password:</h4>
      <input
        type="password"
        placeholder="Enter password"
        pPassword
        [(ngModel)]="passwordInput"
        [ngModelOptions]="{ standalone: true }"
      />
    </label>
    <div class="form-footer">
      <a href="/login">Forgot password?</a>
      <p-button type="submit" label="Login" (onClick)="login($event)">
      </p-button>
    </div>
  </form>
</p-card>
