@import 'src/styles/colors.scss';
@import 'src/styles/common.scss';

:host li {
  margin: 25px 0;
}

:host h2 {
  display: inline-block;
  margin: 0;
  padding: 14px;
  color: $primary-text-color;
}

:host span {
  margin-right: 14px;
  color: $third-font-color;
}

:host p {
  color: $primary-text-color;
}

:host ::ng-deep .edit-course-button {
  @include buttonWithIcon($primary-button-color);
}

:host ::ng-deep .delete-course-button {
  margin-left: 5px;
  @include buttonWithIcon($primary-button-color);
}
