@import 'src/styles/colors.scss';

:host h2 {
  display: inline-block;
  margin: 0;
  padding: 14px;
  color: $primary-text-color;
}

:host span {
  margin-right: 14px;
  color: $third-font-color;
}

:host p {
  color: $primary-text-color;
}
