<ul *ngIf="courses; else noData">
  <app-course-item
    *ngFor="
      let course of courses
        | orderListBy: 'creationDate'
        | searchByList: searchTerm;
      trackBy: trackByCourseId
    "
    [course]="course"
    (deletedCourse)="onDeletedCourse($event)"
  >
  </app-course-item>
</ul>

<ng-template #noData>
  <p-card styleClass="no-data-block">
    No data. Feel free to add new course.
  </p-card>
</ng-template>

<p-card styleClass="load-more-block">
  <button
    class="load-more-button"
    type="button"
    (click)="loadMoreCourses($event)"
  >
    Load more
  </button>
</p-card>

<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
