// base colors
$dark-gray: #414452;
$pale-gray: #f2f3f7;
$sick-green: #9bc837;
$dark-sky-blue: #30b6dd;
$cloudy-blue: #b9bdce;
$slate-grey: #525462;
$dark: #2c2f3c;
$silver: #c0c3ce;
$white: #fff;

// variables to use
$primary-font-color: $white;
$second-font-color: $silver;
$third-font-color: $cloudy-blue;

$header-color: $dark-gray;
$page-background-color: $pale-gray;
$footer-color: $dark-gray;

$primary-button-color: $dark-sky-blue;
$second-button-color: $sick-green;

$primary-text-color: $dark;
$second-text-color: $slate-grey;
