<p-card styleClass="edit-course-page">
  <p-header>
    <h2>
      {{
        (isCreating
          ? 'PAGES.EDIT_COURSE_PAGE.ADD_PAGE_TITLE'
          : 'PAGES.EDIT_COURSE_PAGE.EDIT_PAGE_TITLE') | translate
      }}
    </h2>
  </p-header>
  <form class="form" [formGroup]="editCourseForm" (ngSubmit)="onSubmit()">
    <app-text-input [formControl]="test"></app-text-input>
    <label>
      <h4>{{ 'PAGES.EDIT_COURSE_PAGE.DESCRIPTION' | translate }}:</h4>
      <textarea
        class="full-size"
        rows="5"
        pInputTextarea
        autoResize="autoResize"
        placeholder="Enter description"
        formControlName="description"
        required
      ></textarea>
    </label>
    <label>
      <h4>{{ 'PAGES.EDIT_COURSE_PAGE.DATE' | translate }}:</h4>
      <p-calendar
        placeholder="Enter date"
        formControlName="date"
        required
      ></p-calendar>
    </label>
    <label>
      <h4>{{ 'PAGES.EDIT_COURSE_PAGE.DURATION' | translate }}:</h4>
      <input
        type="number"
        pInputText
        pKeyFilter="pint"
        placeholder="Enter length"
        formControlName="length"
        required
      />
    </label>
    <span class="total-duration">{{
      editCourseForm.value.length | courseDuration
    }}</span>

    <pre>{{ test.value | json }}</pre>

    <div class="form-footer">
      <p-button
        type="button"
        label="{{ 'SHARED.FORMS.CANCEL_BUTTON' | translate }}"
        (click)="onCancel()"
      ></p-button>
      <p-button
        styleClass="submit-button"
        type="submit"
        label="{{ 'SHARED.FORMS.ACCEPT_BUTTON' | translate }}"
        [disabled]="editCourseForm.invalid"
      ></p-button>
    </div>
  </form>
</p-card>
