<p-card styleClass="edit-course-page">
  <p-header>
    <h2>
      {{
        (isCreating
          ? 'PAGES.EDIT_COURSE_PAGE.ADD_PAGE_TITLE'
          : 'PAGES.EDIT_COURSE_PAGE.EDIT_PAGE_TITLE') | translate
      }}
    </h2>
  </p-header>
  <form class="form" [formGroup]="editCourseForm" (ngSubmit)="onSubmit()">
    <app-text-input formControlName="name"></app-text-input>
    <app-description-input
      formControlName="description"
    ></app-description-input>
    <app-date-input formControlName="date"></app-date-input>
    <app-duration-input formControlName="length"></app-duration-input>
    <app-autocomplete formControlName="authors"></app-autocomplete>

    <div class="form-footer">
      <p-button
        type="button"
        label="{{ 'SHARED.FORMS.CANCEL_BUTTON' | translate }}"
        (click)="onCancel()"
      ></p-button>
      <p-button
        styleClass="submit-button"
        type="submit"
        label="{{ 'SHARED.FORMS.ACCEPT_BUTTON' | translate }}"
        [disabled]="editCourseForm.invalid"
      ></p-button>
    </div>
  </form>
</p-card>
