@import 'src/styles/colors';

.user-profile {
  margin-left: 10px;
}

.log-off {
  margin-left: 5px;
  padding: 0;
  font-size: 14px;
  color: $primary-font-color;
  background-color: $header-color;
  border: none;
  cursor: pointer;
}
