<li [appHighlightBorder]="course.date">
  <p-card>
    <p-header>
      <h2>
        {{ course.name | uppercase }}
      </h2>
      <span>
        <fa-icon
          [icon]="faStar"
          [class.top-rated]="course.isTopRated"
        ></fa-icon>
      </span>
      <span>
        <fa-icon class="icon" [icon]="faClock"></fa-icon>
        {{ course.length | courseDuration }}
      </span>
      <span>
        <fa-icon class="icon" [icon]="faCalendarAlt"></fa-icon>
        <time [dateTime]="course.date">
          {{ course.date | date: 'd MMM, y':undefined:locale }}
        </time>
      </span>
    </p-header>

    <p>
      {{ course.description }}
    </p>

    <p-footer>
      <p-button
        label="{{ 'PAGES.COURSES_PAGE.EDIT_COURSE_BUTTON' | translate }}"
        (onClick)="editCourse()"
        styleClass="edit-course-button"
      >
        <fa-icon class="button-icon" [icon]="faPencilAlt"></fa-icon>
      </p-button>
      <p-button
        label="{{ 'PAGES.COURSES_PAGE.DELETE_COURSE_BUTTON' | translate }}"
        (onClick)="deleteCourse()"
        styleClass="delete-course-button"
      >
        <fa-icon class="button-icon" [icon]="faTrashAlt"></fa-icon>
      </p-button>
    </p-footer>
  </p-card>
</li>
