<div class="panel-top">
  <span class="ui-float-label search">
    <input
      id="float-input"
      type="search"
      size="30"
      pInputText
      [formControl]="search"
    />
    <label for="float-input">
      {{ 'PAGES.COURSES_PAGE.SEARCH_COURSES_LABEL' | translate }}
    </label>
  </span>
</div>

<div class="panel-bottom">
  <p-button
    styleClass="primary-button"
    label="{{ 'PAGES.COURSES_PAGE.ADD_COURSE_BUTTON' | translate }}"
    (onClick)="addCourse()"
  >
    <fa-icon class="button-icon" [icon]="faPlus"></fa-icon>
  </p-button>
</div>
