@import 'src/styles/colors';
@import 'src/styles/common';

:host ::ng-deep {
  .second-button {
    margin-left: 5px;
    @include button($second-button-color);
  }

  .primary-button {
    @include buttonWithIcon($primary-button-color);
  }
}

.search {
  display: inline-block;
}

.panel-bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}
