@import 'src/styles/colors.scss';
@import 'src/styles/common.scss';

.search {
  display: inline-block;
}

.panel-bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

:host ::ng-deep .second-button {
  margin-left: 5px;
  @include button($second-button-color);
}

:host ::ng-deep .primary-button {
  @include buttonWithIcon($primary-button-color);
}
